

.project-section {
  position: relative;
  padding: 120px 0;
  background: #050816;
  overflow: hidden;
    text-align: center;

}


.project-heading {
  color: white;
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.purple {
  background: linear-gradient(90deg, #00EEFF 40%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.project-card {
  padding: 20px;
}
.project-card-view {
  background: rgba(255, 255, 255, 0.05) !important ;
  border-radius: 24px !important; 
  overflow: hidden;
  color: white;
  height: 100%;
  backdrop-filter: blur(12px);
  transition: all 0.4s ease;
  box-shadow:
    0 0 10px #6c63ff,
    0 0 10px #00EEFF;
}


.project-card-view:hover {
  transform: translateY(-12px) scale(1.02);
  border-color: #6c63ff;
  box-shadow:
    0 0 10px #6c63ff,
    0 0 30px #00EEFF;
}


.project-card-view img {
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  transition: 0.5s ease;
}

.project-card-view:hover img {
  transform: scale(1.06);
}


.project-card-view .card-body {
  padding: 25px;
}


.project-card-view .card-title {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 15px;
}


.project-card-view .card-text {
  color:var(--text-color);
  line-height: 1.7;
  min-height: 130px;
}


.project-card-view .btn-card  {
  background: linear-gradient(135deg, #00EEFF 5%, #6c63ff 95%);
  border: none;
  padding: 15px;
  border-radius: 14px;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 0 15px #00eeff4c,
  0 0 15px #6b63ff46;
  color: white;
}

.project-card-view .btn-card:hover {
  transform: scale(1.06);
  box-shadow:
    0 0 10px #6c63ff,
    0 0 15px #00EEFF;
}

/* ===== Responsive ===== */

@media (max-width: 768px) {
  .project-heading {
    font-size: 2rem;
  }

  .project-card-view img {
    height: 200px;
  }

  .project-card-view .card-text {
    min-height: auto;
  }
}

