/* ======================= home-section ======================= */
.home-section {
  position: relative;
  z-index: -1 ;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px ;
  padding-top: 30px ;
}
.home-content {
  padding: 9rem 0 2rem ;
}
.home-header {
  padding-top: 80px ;
  color: white;
}
.home-header .heading {
  font-size: 40px;
  font-weight: bold;
}
.home-header .heading-name {
  font-size: 50px;
  font-weight: bold;
}
.home-header .main-name {
  font-size: 45px;
  font-weight: bold;
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 60%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-header .Typewriter__wrapper {
  font-size: 45px ;
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 60%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.home-header .type {
  padding-top: 10px;
}
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}
#tsparticles {
  position: fixed ;
  background-repeat: no-repeat ;
  background-size: cover ;
  width: 100%;
  height: 100%;
}

/* ============ Animation ============ */

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

/* ============ Responsive ============ */

@media (max-width: 992px) {
  .home-section .home-content {
    padding: 12rem 0 3rem;
    text-align: left;
  }
  .home-content .home-header {
    padding-top: 40px;
  }
  .home-header .heading {
    font-size: 35px;
  }
  .home-header .heading-name {
    font-size: 35px;
  }
  .home-header .main-name {
    font-size: 35px;
  }
  .home-header .Typewriter__wrapper {
    font-size: 35px;
    line-height: 2.5;
  }
  .home-content .img-home{
    width: 100%;
  }
  .home-header .wave{
    width: 25px;
  }
}

@media (max-width: 768px) {
  .home-section .home-content {
    padding: 1.3rem 0 3rem;
    text-align: center;
  }
  .home-header .heading {
    font-size: 35px;
    text-align: center;
  }
  .home-header .heading-name {
    font-size: 40px;
    text-align: center;
  }
  .home-header .main-name {
    font-size: 35px;
    text-align: center;
  }
  .home-header .type  {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .home-header .Typewriter__wrapper {
    font-size: 35px;
  } 
  .home-header .wave {
    width: 25px;
  }
  .home-content .img-home{
    width: 75%;
    padding: 0 20px;
  }
}

@media (max-width: 576px) {
  .home-header {
    padding-bottom: 30px;
  }
  .home-header .heading {
    font-size: 32px;
    text-align: center;
  }
  .home-header .heading-name {
    font-size: 35px;
    text-align: center;
  }
  .home-header .main-name {
    font-size: 32px;
    text-align: center;
  }
  .home-header .type  {
    text-align: center;
    padding-bottom: 25px;
    padding-top: 10px;
  }
  .home-header .Typewriter__wrapper {
    font-size: 32px;
  } 
  .home-header .wave {
    width: 20px;
  }
  .home-content .img-home{
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .home-section .home-content {
    padding-top: 40px ;
  }
  .home-header {
    padding-bottom: 40px;
  }
  .home-header .heading {
    font-size: 30px;
    text-align: center;
  }
  .home-header .heading-name {
    font-size: 28px;
    text-align: center;
  }
  .home-header .main-name {
    font-size: 28px;
    text-align: center;
  }
  .home-header .type  {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 10px;
  }
  .home-header .Typewriter__wrapper {
    font-size: 25px;
  } 
  .home-header .wave {
    width: 20px;
  }
  .home-content .img-home{
    width: 100%;
    padding: 0 20px;
  }
}

/* ===================== home-about-section ===================== */

.home-about-section {
  position: relative;
  padding-bottom: 70px ;
  padding-top: 70px ;
}
.home-about-section .Sky-Blue {
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 50%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-about-description {
  color: white ;
  padding-top: 100px ;
  padding-bottom: 20px ;
  text-align: center;
}
.home-about-description .home-about-title{
  font-weight: bold;
  padding-bottom: 20px;
}
.home-about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
  color: var(--text-color);
}
.myAvatar {
  justify-content: right;
  padding-top: 12em;
}
.myAvatar img {
  padding-left: 6em;
}

/* ============ Responsive ============ */

@media (max-width: 992px) {
  .home-about-section {
    padding-top: 60px ;
    padding-bottom: 60px;
    text-align: left;
  }
  .home-about-body {
    font-size: 17px;
    line-height: 1.7;
    padding-top: 25px;
  }
  .myAvatar {
    padding-top: 6.5rem;
    display: flex;
    justify-content: center;
  }
  .myAvatar img {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .home-about-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-about-description {
    padding-top: 30px;
    padding-bottom: 10px;
  }.home-about-description .home-about-title {
    padding-bottom: 40px;
  }
  .home-about-body {
    font-size: 1rem;
    text-align: center;
    line-height: 1.9;
    padding: 0 10px;
  }
  .myAvatar {
    padding-top: 3rem;
  }
  .myAvatar img {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .home-about-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home-about-description {
    padding-top: 20px;
  }
  .home-about-body {
    font-size: 0.95rem;
    line-height: 1.8;
  }
  .myAvatar img {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .home-about-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home-about-description {
    padding-top: 20px;
  }
  .home-about-description .home-about-title {
    font-size: 22px;
    padding-bottom: 25px;
    text-align: center;
    margin: 0 auto;
  }
  .home-about-body {
    font-size: 0.95rem;
    line-height: 1.6;
  }
  .myAvatar img {
    width: 100%;
    padding: 0 30px;
  }
}

/* ===================== home-about-social ===================== */

.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white;
}
.home-about-social-links {
  justify-content: center ;
  padding-top: 20px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}
.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 45px ;
  height: 45px ;
  text-align: center ;
  font-size: 1.2em ;
  line-height: 2.3em ;
  background: rgba(255, 255, 255, 0.972) ;
  border-radius: 50% ;
  transition: 0.03s ease;
}
.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00EEFF;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow:
    0 0 10px #6c63ff,
    0 0 15px #00EEFF;
}
.home-social-icons:hover {
  color: #00eeffc4;
}
.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}
.icon-color {
  color: #0b1026 ;
  box-shadow:
    0 0 10px #6b63ffae,
    0 0 15px #00eeff93;
}

/* ============ Responsive ============ */

@media (max-width: 992px) {
  .home-about-social {
    padding-top: 20px;
  }
  .home-social-icons {
    width: 45px;
    height: 45px;
    font-size: 1.25em;
    line-height: 2.1em;
  }
  .social-icons {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .home-about-social {
    padding-top: 15px;
  }
  .home-about-social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .social-icons {
    padding: 5px;
  }
  .home-social-icons {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    line-height: 2.0em;
  }
}

@media (max-width: 576px) {
  .home-social-icons {
    width: 38px;
    height: 38px;
    font-size: 0.95em;
    font-size: 1.1em;
  }
  .home-about-social {
    padding-top: 10px;
  }
}


