.home-section {
  position: relative;
  z-index: -1 ;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px ;
  padding-top: 30px ;
}
.home-content {
  padding: 9rem 0 2rem ;
}
.home-header {
  padding-top: 80px ;
  color: white;
}
.heading {
  font-size: 2.4em ;
  padding-left: 50px ;
}
.heading-name {
  font-size: 40px ;
  padding-left: 45px ;
}
.main-name {
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 60%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Typewriter__wrapper {
  margin-left: 15px;
  font-size: 40px ;
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 60%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}
#tsparticles {
  position: fixed ;
  background-repeat: no-repeat ;
  background-size: cover ;
  width: 100%;
  height: 100%;
}
@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

/* ========== Responsive ========== */

@media (max-width: 992px) {
  .home-content {
    padding: 11rem 0 3rem;
    text-align: center;
  }
  .home-header {
    padding-top: 40px;
  }
  .heading {
    font-size: 2rem;
    padding-left: 3px;
  }
  .heading-name {
    font-size: 34px;
    padding-left: 0;
    margin-top: 10px;
  }
  .Typewriter__wrapper {
    font-size: 28px;
  }
  .img-home{
    width: 100%;
    padding-top: 10px;
  }
  .wave{
    width: 25px;
  }
}

@media (max-width: 768px) {
  .home-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-content {
    padding: 5rem 0 1rem;
  }
  .home-header {
    padding-top: 20px;
  }
  .heading {
    font-size: 2rem;
  }
  .heading-name {
    line-height: 1.4;
  }
  .Typewriter__wrapper {
    font-size: 30px;
  }
  .wave{
    width: 25px;
  }
}

@media (max-width: 576px) {
  .home-content {
    padding: 4rem 10px 1rem;

  }
  .heading {
    font-size: 1.6rem;
  }
  .heading-name {
    font-size: 28px;
  }
  .Typewriter__wrapper {
    font-size: 23px;
  }
  .wave {
    width: 30px;
  }
  .img-home{
    width: 100%;
    padding: 0 20px;
  }
}

/* ================================= */

.home-about-section {
  position: relative;
  padding-bottom: 70px ;
  padding-top: 70px ;
}
.home-about-section .Sky-Blue {
  color: #00EEFF;
  background: linear-gradient(90deg, #00EEFF 50%, #6c63ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-about-description {
  color: white ;
  padding-top: 100px ;
  padding-bottom: 20px ;
  text-align: center;
}
.home-about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
  color: var(--text-color);
}
.myAvatar {
  justify-content: right;
  padding-top: 12em;
}
.myAvatar img {
  padding-left: 6em;
}

/* ======= Responsive ======= */

@media (max-width: 992px) {
  .home-about-section {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
  }
  .home-about-body {
    font-size: 1.05rem;
    line-height: 1.9;
  }
  .myAvatar {
    padding-top: 6.5rem;
    display: flex;
    justify-content: center;
  }
  .myAvatar img {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .home-about-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .home-about-description {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .home-about-body {
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    padding: 0 10px;
  }
  .myAvatar {
    padding-top: 3rem;
  }
  .myAvatar img {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .home-about-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .home-about-description {
    padding-top: 20px;
  }
  .home-about-body {
    font-size: 0.95rem;
    line-height: 1.7;
  }
  .myAvatar img {
    width: 100%;
    padding: 0 30px;
  }
}

/* ================================= */

.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white;
}
.home-about-social-links {
  justify-content: center ;
  padding-top: 20px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}
.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 45px ;
  height: 45px ;
  text-align: center ;
  font-size: 1.2em ;
  line-height: 2.3em ;
  background: rgba(255, 255, 255, 0.972) ;
  border-radius: 50% ;
  transition: 0.03s ease;
}
.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #00EEFF;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}
.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow:
    0 0 10px #6c63ff,
    0 0 15px #00EEFF;
}
.home-social-icons:hover {
  color: #00eeffc4;
}
.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}
.icon-color {
  color: #0b1026 ;
  box-shadow:
    0 0 10px #6b63ffae,
    0 0 15px #00eeff93;
}

/* ======= Responsive ======= */

@media (max-width: 992px) {
  .home-about-social {
    padding-top: 20px;
  }
  .home-social-icons {
    width: 45px;
    height: 45px;
    font-size: 1.25em;
    line-height: 2.1em;
  }
  .social-icons {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .home-about-social {
    padding-top: 15px;
  }
  .home-about-social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
  }
  .social-icons {
    padding: 5px;
  }
  .home-social-icons {
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    line-height: 2.0em;
  }
}

@media (max-width: 576px) {
  .home-social-icons {
    width: 38px;
    height: 38px;
    font-size: 0.95em;
    font-size: 1.1em;
  }
  .home-about-social {
    padding-top: 10px;
  }
}




/* ===== Base hidden state ===== */
.reveal {
  opacity: 0;
  transition: all 0.9s ease;
  will-change: transform, opacity;
}

/* ===== directions ===== */
.from-left {
  transform: translateX(-100px);
}

.from-right {
  transform: translateX(100px);
}

.from-bottom {
  transform: translateY(100px);
}

/* ===== active state ===== */
.reveal.active {
  opacity: 1;
  transform: translate(0);
}

