body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to bottom right,
    #050816,
    #0b1026,
    #000000
  );
}
:root{
  --bg-color: #050816;
  --bg-second: #0b1026;
  --main-color: #00EEFF;
  --secondary-color: #7c3aed;
  --text-color: #bfc9d9;
}