body {
  margin: 0;
  font-family: "PT Mono", monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */

  background: linear-gradient(
  to bottom right,
  #050816,
  #0b1026,
  #000000
);

/* background: radial-gradient(
  circle at top left,
  #111827 0%,
  #050816 40%,
  #000000 100%
); */


}
:root{

  /* اللون الأساسي للخلفية */
  --bg-color: #050816;

  /* خلفية ثانوية للسيكشنات أو الكروت */
  --bg-second: #0b1026;

  /* اللون الأساسي للمشروع
     استخدمه:
     - hover
     - buttons
     - icons
     - links
     - glow
  */
  --main-color: #00EEFF;

  /* لون مساعد للتدرجات والهوفرات */
  --secondary-color: #7c3aed;

  /* لون العناوين */
  --white-color: #00EEFF;

  /* لون الكلام العادي */
  --text-color: #bfc9d9;

}